.container {
    display: grid;
    grid-template-areas:
      "header header header header"
      "album album content content"
      "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    background-color: #000000;
    padding: 5px;
    border: 2px solid black;
  }
  .container > div {
    background-color: rgba(12, 146, 95, 0.952);
    padding: auto;
    
  }
  .container > div.header {
    grid-area: header;
    text-align: center;
  }
  .container > div.album {
    grid-area: album; 
    
    text-align: center; 
   align-content: center;
   
  }
  .container > div.content {
    grid-area: content;
    
  }

  .container > div.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
  }
  .item1, .item2, .item3, .item4{
    
    align-content: center;
    justify-self: center;
  }
  

  
